<launch>

  <arg name="swap_lr"                   default="false"/>
  <arg name="field_of_view"             default="71.86"/>
  <arg name="baseline"                  default="7.5"/>
  <arg name="square_size_cm"            default="2.4"/>
  <arg name="depthai_path"              default="/home/sachin/Desktop/luxonis/depthai"/>
  <arg name="brd"                       default="bw1098obc"/>
  <arg name="capture_service_name"      default="capture_checkerboard"/>
  <arg name="calibration_service_name"  default="calibrate_stereo"/>
  
  <node 
    name="depthai_calibration"
    pkg="calibration"
    type="depthai_calibration.py"
    respawn="false"
    output="screen">

    <param name="package_path"                     value="$(find calibration)"/>
    <param name="swap_lr"                  value="$(arg swap_lr)"/>
    <param name="field_of_view"            value="$(arg field_of_view)"/>
    <param name="baseline"                 value="$(arg baseline)"/>
    <param name="square_size_cm"           value="$(arg square_size_cm)"/>
    <param name="depthai_path"             value="$(arg depthai_path)"/>
    <param name="brd"                      value="$(arg brd)"/>
    <param name="capture_service_name"     value="$(arg capture_service_name)"/>
    <param name="calibration_service_name" value="$(arg calibration_service_name)"/>
  </node>

</launch>
