[submodule "python3_ws/src/calibration/scripts/resources/depthai-boards"]
	path = python3_ws/src/calibration/scripts/resources/depthai_boards
	url = ../depthai-boards
[submodule "python3_ws/src/calibration/scripts/resources/depthai-boards-private"]
	path = python3_ws/src/calibration/scripts/resources/depthai_boards_private
	url = ../depthai-boards-private.git
[submodule "python3_ws/src/calibration/scripts/depthai_calibration"]
	path = python3_ws/src/calibration/scripts/depthai_calibration
	url = ../depthai-calibration.git
