
opencv-contrib-python==4.4.0.46
requests==2.24.0
argcomplete==1.12.1
pygame==2.0.0
rospkg==1.2.8
# depthai==0.3.0.0
--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local/
depthai==2.3.0.0.dev+cb3531202f423be21dcb44b66418a1e00661f250