
opencv-python==4.5.4.58
opencv-contrib-python==4.5.4.58
requests==2.24.0
argcomplete==1.12.1
pygame==2.0.0
rospkg==1.2.8
scipy
access-dict-by-dot
--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local/
depthai==2.19.1
jsonlines
